@model ToDoList

@{
    ViewData["Title"] = "UpdateToDoList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">To-Do List</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Update Page for Actions to Be Performed</div>
					</div>
					<div class="card-body">

						<form method="post">
                            <input type="hidden" asp-for="ToDoListID" />
							<label>Title & Content</label>
							<input type="text" class="form-control" asp-for="Title" />
							<br />
							<label>Date</label>
							<input type="date" class="form-control" asp-for="Date" />
							<br />
							<label>Image Path</label>
							<input type="text" class="form-control" asp-for="ImageUrl" />
							<br />
							<button class="btn btn-success">Update the task to be done!</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>





