@{
    ViewData["Title"] = "İletişim Yönetimi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["PageIcon"] = "📧";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">İletişim</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">İletişim Bilgileri</h3>
            </div>
            <div class="card-body">
                <p>İletişim sayfası yakında eklenecek.</p>
            </div>
        </div>
    </div>
</section>
