@model List<ForgeFolio.Core.Entities.Message>

<div class="main-header">
    <div class="logo-header">
        <a href="/Layout/Index" class="logo">
            Admin Panel
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">

            <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                <div class="input-group">
                    <input type="text" placeholder="Search ..." class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-envelope"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>


                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-bell"></i>
                        <span class="notification">@ViewBag.UnreadMessageCount</span>
                    </a>
                    <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="dropdown-title">
                                <i class="fas fa-envelope me-2"></i>
                                You have @ViewBag.UnreadMessageCount new message@(ViewBag.UnreadMessageCount != 1 ? "s" : "")
                            </div>
                        </li>
                        <li>
                            <div class="notif-center">
                                @if (Model != null && Model.Any())
                                {
                                    @foreach(var item in Model.Take(3))
                                    {
                                        <a href="/Message/Details/@item.Id">
                                            <div class="notif-icon notif-success"> 
                                                <i class="fas fa-envelope"></i> 
                                            </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    @item.Subject
                                                </span>
                                                <span class="time">@item.MessageDate.ToString("dd.MM.yyyy HH:mm")</span>
                                            </div>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <div class="text-center py-3">
                                        <i class="fas fa-inbox fa-2x text-muted mb-2"></i>
                                        <p class="text-muted mb-0">No new messages</p>
                                    </div>
                                }
                            </div>
                        </li>
                        <li>
                            <a class="see-all" href="/Message/Inbox"> 
                                <strong>See all messages</strong> 
                                <i class="la la-angle-right"></i> 
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> 
                        <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user-img" width="36" class="img-circle border border-white">
                        <span>Anıl Akbay</span>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <div class="user-box">
                                <div class="u-img">
                                    <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user" class="border border-primary">
                                </div>
                                <div class="u-text">
                                    <h4>Anıl Akbay</h4>
                                    <p class="text-muted">anilakbay20@gmail.com</p>
                                    <a href="/Default/Index" class="btn btn-rounded btn-primary btn-sm">
                                        <i class="fas fa-eye me-1"></i>
                                        View Portfolio
                                    </a>
                                </div>
                            </div>
                        </li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Default/Index">
                            <i class="fas fa-user me-2"></i> My Portfolio
                        </a>
                        <a class="dropdown-item" href="/Default/Index">
                            <i class="fas fa-globe me-2"></i> Go to Website
                        </a>
                        <a class="dropdown-item" href="/Message/Inbox">
                            <i class="fas fa-envelope me-2"></i> Inbox
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Statistic/Index">
                            <i class="fas fa-chart-bar me-2"></i> Statistics
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://github.com/anilakbay" target="_blank">
                            <i class="fab fa-github me-2"></i> GitHub
                        </a>
                        <a class="dropdown-item" href="https://linkedin.com/in/anilakbay" target="_blank">
                            <i class="fab fa-linkedin me-2"></i> LinkedIn
                        </a>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

