@model IEnumerable<ForgeFolio.Core.DTOs.Feature.FeatureDto>
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Features</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Header</th>
            <th>Name Surname</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Header</td>
                <td>@item.NameSurname</td>
                <td>
                    <a href="/Feature/Update/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a href="/Feature/Delete/@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
