<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Anıl Akbay
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="/Default/Index">
                                <span class="link-collapse">My Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Statistic/Index">
                                <span class="link-collapse">Statistics</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Message/Inbox">
                                <span class="link-collapse">Messages</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Statistic/Index">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="la la-home"></i>
                    <p>Go to the site!</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#about">
                    <i class="la la-table"></i>
                    <p>About</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index">
                    <i class="la la-bell"></i>
                    <p>To-Do List</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList">
                    <i class="la la-apple"></i>
                    <p>Experience</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#works">
                    <i class="la la-th"></i>
                    <p>Featured Area</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#contact">
                    <i class="la la-bell"></i>
                    <p>Contact Information</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#works">
                    <i class="la la-font"></i>
                    <p>Portfolio</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#about">
                    <i class="la la-fonticons"></i>
                    <p>Skills</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#stats">
                    <i class="la la-fonticons"></i>
                    <p>References</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index#contact">
                    <i class="la la-fonticons"></i>
                    <p>Social Media</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox">
                    <i class="la la-envelope-o"></i>
                    <p>Inbox</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index">
                    <i class="la la-bar-chart"></i>
                    <p>Statistics</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="la la-sign-out"></i>
                    <p>Log out</p>
                </a>
            </li>
          
        </ul>
    </div>
</div>
